In [48]:
from pathlib import Path
import pandas as pd

In [49]:
min_dir = Path('/home/yutanagano/UCLOneDrive/MBPhD/data/tcr_embedder/data_sources/minervina_sars_cov_2')

In [50]:
tcrs = pd.read_excel(min_dir/'Minervina_SARS_CoV_2_TCRs.xlsx', sheet_name='clonotypes')

In [51]:
tcrs = tcrs[['va', 'cdr3a', 'ja', 'vb', 'cdr3b', 'jb', 'epitope']]
tcrs.columns = ['TRAV', 'CDR3A', 'TRAJ', 'TRBV', 'CDR3B', 'TRBJ', 'Epitope']

In [52]:
tcrs['MHCA'] = pd.NA
tcrs['MHCB'] = pd.NA
tcrs['duplicate_count'] = pd.NA

In [53]:
tcrs = tcrs.sort_values(by=tcrs.columns.to_list(), ignore_index=True)
tcrs

,TRAV,CDR3A,TRAJ,TRBV,CDR3B,TRBJ,Epitope,MHCA,MHCB,duplicate_count
0,TRAV1-1,CAAEMNFNKFYF,TRAJ21,TRBV27,CASSSTVTLAKNIQYF,TRBJ2-4,A24_VYF,NaN,NaN,NaN
1,TRAV1-1,CAGLEALLNDMRF,TRAJ43,TRBV28,CASERANTGELFF,TRBJ2-2,A01_TTD,NaN,NaN,NaN
2,TRAV1-1,CAGTDTGGFKTIF,TRAJ9,TRBV5-1,CASSSTDGNTGELFF,TRBJ2-2,A01_FTS,NaN,NaN,NaN
3,TRAV1-1,CAMPTDKLIF,TRAJ34,TRBV15,CATSPGLAGGETGELFF,TRBJ2-2,A24_VYF,NaN,NaN,NaN
4,TRAV1-1,CAPDSNYQLIW,TRAJ33,TRBV7-9,CASSLESADRAHYGYTF,TRBJ1-2,A24_VYI,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4479,TRAV9-2,CAYGGSQGNLIF,TRAJ42,TRBV27,CASSSRSGSDTQYF,TRBJ2-3,A01_TTD,NaN,NaN,NaN
4480,TRAV9-2,CGGGFGNVLHC,TRAJ35,TRBV27,CASSYRDYTDTQYF,TRBJ2-3,A01_TTD,NaN,NaN,NaN
4481,TRAV9-2,CGSSSGGSEKLVF,TRAJ57,TRBV28,CASSHASGVVQPQHF,TRBJ1-5,A01_TTD,NaN,NaN,NaN
4482,TRAV9-2,CGYGGSQGNLIF,TRAJ42,TRBV27,CASGLRSGTDTQYF,TRBJ2-3,A01_TTD,NaN,NaN,NaN
4483,TRAV9-2,CLLGFGNVLHC,TRAJ35,TRBV27,CASSDRDSQQPQHF,TRBJ1-5,A01_TTD,NaN,NaN,NaN

In [54]:
tcrs.groupby('Epitope').size()

Epitope
A01_DTD        88
A01_FTS       450
A01_LTD       398
A01_NTN         9
A01_PTD       155
A01_TTD      1909
A02_ALS       197
A02_LLY        53
A02_YLQ       288
A24_NYN       166
A24_QYI       102
A24_VYF       269
A24_VYI        91
B15_NQK       148
B15_RVA        68
B44_AEA         1
B44_AEV        57
B44_QEL        31
B44_VEN_H       4
dtype: int64

In [55]:
filtered = tcrs.groupby('Epitope').filter(lambda x: len(x) > 20)

In [56]:
filtered.groupby('Epitope').size()

Epitope
A01_DTD      88
A01_FTS     450
A01_LTD     398
A01_PTD     155
A01_TTD    1909
A02_ALS     197
A02_LLY      53
A02_YLQ     288
A24_NYN     166
A24_QYI     102
A24_VYF     269
A24_VYI      91
B15_NQK     148
B15_RVA      68
B44_AEV      57
B44_QEL      31
dtype: int64

In [57]:
filtered.to_csv(min_dir/'preprocessed.csv', index=False)